@use 'mixins';
@use 'cores';

@import "cores.scss";
@import url('http://db.onlinewebfonts.com/c/c25432bd2c16dfe9cbff2d2968e73fcb?family=AllRoundGothicW01-Demi');
@font-face {font-family: "AllRoundGothicW01-Demi"; src: url("http://db.onlinewebfonts.com/t/c25432bd2c16dfe9cbff2d2968e73fcb.eot"); src: url("http://db.onlinewebfonts.com/t/c25432bd2c16dfe9cbff2d2968e73fcb.eot?#iefix") format("embedded-opentype"), url("http://db.onlinewebfonts.com/t/c25432bd2c16dfe9cbff2d2968e73fcb.woff2") format("woff2"), url("http://db.onlinewebfonts.com/t/c25432bd2c16dfe9cbff2d2968e73fcb.woff") format("woff"), url("http://db.onlinewebfonts.com/t/c25432bd2c16dfe9cbff2d2968e73fcb.ttf") format("truetype"), url("http://db.onlinewebfonts.com/t/c25432bd2c16dfe9cbff2d2968e73fcb.svg#AllRoundGothicW01-Demi") format("svg"); }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    padding: 0;
}

.mobile {
    height: 100vh;
    background-color: $padrao;

    header {
        background-color: transparent;
        position: unset;

        * {
            background-color: transparent;
        }
    }

    #menu {
        margin-top: 2rem;
        display: flex;
        align-items: center;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding-left: 0;

            li {
                text-align: center;

                a {
                    font-size: 2rem;
                    font-weight: bold;
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }

    main, footer {
        display: none;
        * {
            display: none;
        }
    }
}

h1 {
    white-space: nowrap;
}

.desfixar {
    background-color: $padrao;
    z-index: 1;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    background-color: #26344599;
    color: #FFF;
    z-index: 1;

    @include mixins.mobile {
       align-items: center;
    }

    @include mixins.fino {
        a {
            img {
                width: 170px;
                height: 55px;
            }
        }
     }

    nav {
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            align-items: center;

            li {
                margin: 0 1.5rem;

                a {
                    text-decoration: none;
                    color: #FFF;
                    font-weight: 600;

                    &:hover {
                        color: #FFF;
                        text-decoration: underline;
                    }
                }
            }
        }

        i {
            font-size: 2.5rem;
            margin-right: 1.5rem;
            cursor: pointer;
        }
    }
}

main {
    .intro {
        padding-top: 7.5rem;
        min-height: 65vh;
        width: 100%;
        margin: 0;

        @include mixins.tablet {
            min-height: 55vh;
        }

        article {
            padding: 1rem;
            padding-top: 2.5rem;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1 {
                font-family: "AllRoundGothicW01-Demi";
                font-size: 3.75rem;
                margin: 0;
                position: relative;
                color: $action;

                @include mixins.notebook {
                    font-size: 3rem;
                }

                @include mixins.tablet {
                    font-size: 2.25rem;
                }

                @include mixins.fino {
                    font-size: 1.8rem;
                }
            }

            .demo {
                justify-content: center;
                align-items: center;
                flex-direction: column;

                h4 {
                    text-align: justify;
                    font-size: 2.25rem;
                    margin-bottom: 1rem;
                    text-transform: none;

                    @include mixins.mobile {
                        font-size: 2rem;
                    }

                    @include mixins.fino {
                        font-size: 1.5rem;
                    }
                }
            }

            div {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                margin-top: 2rem;

                @include mixins.tablet {
                    flex-direction: column;
                }

                a {
                    color: #000;
                    text-transform: uppercase;
                    font-size: 1.25rem;
                    text-decoration: none;

                    @include mixins.notebook {
                        font-size: 1rem;
                    }

                    @include mixins.fino {
                        font-size: .75rem;
                    }

                    &:nth-child(2) {
                        padding: 1rem .5rem;
                        text-decoration: underline;

                        @include mixins.tablet {
                            padding: 0.5rem 1rem;
                        }

                        @include mixins.mobile {
                            padding: 1rem 1.5rem;
                        }
                    }

                    &:hover {
                        color: #6414FF;
                    }
                }
    
                button {
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    padding: 1rem .5rem;
                    color: #FFF;
                    background-color: #4806a7;
                    border: 1px solid #4806a7;
                    border-radius: 8px;
                    transition: .5s;

                    &:hover {
                        background-color: $padrao;
                        border-color: $padrao;
                    }

                    @include mixins.tablet {
                        padding: 0.5rem 1rem;
                    }

                    i {
                        font-size: 2rem;
                        margin-right: .5rem;
                    }
                }
            }
        }
        .side {
            text-align: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: left; 
            justify-content: center; 
            align-items: center; 
            flex-direction: column;

            div {
                margin-top: 10rem;
                margin-left: 4.5rem;

                @include mixins.notebook {
                    margin-left: 7.5rem;
                }

                @include mixins.tablet {
                    margin-left: 0;
                }

            }

            h4 {
                text-align: center;
                font-size: 2.25rem;
                margin-bottom: 1rem;
                text-transform: none;

                @include mixins.tablet {
                    font-size: 2rem;
                }
            }
        }
    }

    .topo {
        color: #FFF;
        min-height: 70vh;
        width: 100%;
        margin: 0;

        @include mixins.notebook {
            min-height: 55vh;
        }

        #lateral {
            div {
                padding: 1rem;
                background-color: rgba(0,0,0,.35);
                border-radius: 16px;
            }
        }

        article {
            padding: 1rem;
            text-transform: uppercase;

            &:last-child {
                background-color: #6414FF;

                @include mixins.tablet {
                    background: none;
                }
            }

            a {
                color: #FFF;
                font-weight: bold;

                &:hover {
                    color: $secundaria;
                }
            }
        }
    }

    #spot {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        h2 {
            font-family: "AllRoundGothicW01-Demi";
            font-size: 2.5rem;
            margin: 1.5rem 0;
            text-align: center;
        }

        .audios {
            justify-content: center;

            .col-md-4 {
                margin-bottom: 1rem;
            }

            .card {
                padding: 1rem;
                border-radius: 8px;
                min-height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
    
                h5 {
                    text-align: center;
                }

                i {
                    color: $action;
                    font-size: 2rem;
                }
    
                audio {
                    width: 100%;
                }
            }
        }
    }

    .interessado {
        background-color: #6414FF;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem 0;
        margin-top: 1rem;

        h4 {
            color: #FFF;
            margin-bottom: 1rem;
            text-align: center;
        }

        a {
            text-decoration: none;
        }

        button {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            padding: .25rem 1rem;
            color: #000;
            background-color: #FFF;
            border: 1px solid #FFF;
            margin: 0 auto;
            border-radius: 8px;
            transition: .5s;

            &:hover {
                background-color: $padrao;
                border-color: $padrao;
                color: #FFF;
            }

            @include mixins.tablet {
                padding: 0.5rem 1rem;
            }

            i {
                font-size: 2rem;
                margin-right: .5rem;
            }
        }
    }
    
    #sobre {
        h2 {
            font-family: "AllRoundGothicW01-Demi";
            font-size: 2.5rem;
            margin: 1.5rem 0;

            @include mixins.mobile {
                text-align: center;
            }
        }
    }
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    background-color: $padrao;
    color: #FFF;

    @include mixins.mobile {
        gap: 1rem;
    }    

    section {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        
        &:last-child {
            gap: 0;
            text-align: center;
        }

        a {
            display: flex;
            color: #FFF;
            text-decoration: none;

            &:hover {
                color: $secundaria;
            }

            i {
                font-size: 1.5rem;
                margin-right: 1rem;
                margin-top: .25rem;
            }
        }
    }
}

.parallax-mirror {
    img {
        @include mixins.tablet {
            filter: brightness(0.75);
        }
    }
}

aside {
    padding-right: 1rem;
}

.rubinho {
    width: 500px;

    @include mixins.notebook {
        width: 400px;
    }

    @include mixins.tablet {
        width: 300px;
    }

    @include mixins.mobile {
        display: none;
    }
}